.clicker{
    position: relative;
    left: 575px;
    bottom: -200px;
    font-style: italic;
    height: 50px;
    width: 150px;   
}

.text{
    position: relative;
    left: 620px;
    bottom: -150px;
    font-style: italic;
    font-size: 100px;
    height: 50px;
    width: 150px;   
}